* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

img {
    width: 25vmin;
    margin-bottom: 2vmin;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 2vmin;
}

strong {
    font-family: monospace;
}
